<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>test</key>
	<date>2016-01-09T06:50:02Z</date>
	<key>New item</key>
	<string></string>
	<key>New item - 2</key>
	<string></string>
	<key>New item - 3</key>
	<string></string>
	<key>New item - 4</key>
	<string></string>
	<key>New item - 5</key>
	<string></string>
</dict>
</plist>
